<%= form_for Product.new do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %><br/>
    </div>
    <div class="form-group">
        <%= f.label :desc %>
        <%= f.text_area :desc, class: "form-control" %><br/>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <%= f.label :count %>
            <%= f.number_field :count, step: 1, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, class: "form-control" %>
        </div>
        <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
<% end %>